### SPRING BOOT ###
target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

### NODE / REACT ###
node_modules/
frontend/node_modules/
build/
frontend/build/

### ENV ###
.env
*.env

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
